@import "inc/vars";
@import "inc/normalize.scss";
@import "foundation.scss";
@import "inc/wp";
@import "inc/slider"; //comment this line if you dont use slider
@import "inc/fonts";
/* Plugins */
@import "plugins/slick";
@import "plugins/jquery.fancybox";
@import "plugins/font-awesome.min.scss";


/* Placeholder styling */

input, textarea{
  @include placeholder {color: #d1d1d1;}
}

/* Input Styling */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea { /* STYLES GO THERE */ }

textarea[rows]{
	/*Styles for TextArea*/
}

/* -----------------------------------------
   Typography
   ----------------------------------------- */
   a,
   button,
   input[type="submit"],
   input[type="button"],
   input[type="text"],
   input[type="email"],
   input[type="password"],
   input[type="number"],
   input[type="tel"],
   textarea,
   select {
    transition-duration: .2s;
    transition-timing-function: ease-in;
    transition-property: color, border-color, background-color, opacity;
  }

  a:focus {outline:none;}
  p:empty {display: none;}
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* ------------------------------------
    Basic Styles
    ------------------------------------- */
  h1 {/*basic heading styles*/}
h2 {/*basic heading styles*/}
h3 {/*basic heading styles*/}
h4 {/*basic heading styles*/}
h5 {/*basic heading styles*/}
h6 {/*basic heading styles*/}
p {/*basic paragraph styles*/}
ul {
  /*basic list styles*/
  li {
    /*basic list-item styles*/
  }
}
a {
  &:hover,
  &:focus {
    /*basic hover and focus effects*/
  }
}
button, .button {
  padding: rem-calc(10 12 7);
  &:hover,
  &:focus {
    /*basic hover and focus effects*/
  }
}

//use @extend %bgcover; to selector if you need background cover;
%bgcover{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*-------------------------------
        Paginator
        -------------------------------*/
        ul.pagination li a{
          padding: 0 7px;
          border-radius: 0;
        }
        .pagination.current{
          color: #fff;
          background: #2795b6;
          padding: 1px 7px 2px 7px;
        }

/* ------------------------------------
        menu
        ------------------------------------ */
        .ba-menu {
          background-color: #6d164c;
          font-weight: 500;
          font-size: 16px;
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          font-weight: bold ;
        }
        .menu_vertical {
          > li {
            display: block;
          }
        }
        
/* ------------------------------------
    Header Styles
    ------------------------------------- */
    .header {
      background-color: #f3d6e3;
      background: url(../images/ps.jpg);
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 95vh;
      position: relative;
    }


    .logo {
      padding: 40px 0;
    }

    .header-info{
      &__text{
        font-family: HelveticaNeue;
        color:  #202020;
        font-size: 66px;
        font-weight: 500;
        line-height: 80px;
        text-align: center;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      }
      &__button{
        border:2px solid #fff;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background: transparent; 
        font-weight: bold;
      }

    }

/* ------------------------------------
    Content Styles
    ------------------------------------- */
    .ba-description {
      padding: 5rem 0;
      &__text {
        font-size: 1.75rem;/* Приближение из-за подстановки шрифтов */
        margin: 0;
      }
    }

    .ba-events {
      background-color: #e9e9e9;
      &__list {

      }
    }
    
    .ba-event {
      max-height: 19.375rem;
      max-width: 23.125rem;
      height: 310px;
      width: 370px;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      &-info {
        height: 50%;
        position: absolute;
        top:50%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 5%, rgba(0,0,0,0.38) 23%, rgba(0,0,0,0.65) 39%, rgba(0,0,0,0.87) 80%, rgba(0,0,0,0.87) 86%, rgba(0,0,0,0.87) 95%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#de000000',GradientType=0 );
      }
      &__title {
        font-size: 1.25rem;
        color: #FFF;
        padding: 60px 10px 0;
        text-align: left;
      }
    }
/* -----------------------------------------
    Contact Form
    ----------------------------------------- */
    .acf-map {
      width: 100%;
      height: 400px;
      margin: 0 0 20px;
    }

    .acf-map img {
     max-width: inherit !important;
   }

   /*basic Gravity Form styles and fixes, if you dont need/use this comment or delete styles below*/
   @import "inc/gform";

/* ------------------------------------
    Footer Styles
    ------------------------------------- */

    @import "media-screens";
