@import "inc/vars";
@import "inc/normalize.scss";
@import "foundation.scss";
@import "inc/wp";
@import "inc/slider"; //comment this line if you dont use slider
@import "inc/fonts";
/* Plugins */
@import "plugins/slick";
@import "plugins/jquery.fancybox";
@import "plugins/font-awesome.min.scss";

/* Placeholder styling */

input, textarea{
  @include placeholder {color: #d1d1d1;}
}

/* Input Styling */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea { /* STYLES GO THERE */ }

textarea[rows]{
	/*Styles for TextArea*/
}

/* -----------------------------------------
   Typography
   ----------------------------------------- */
   a,
   button,
   input[type="submit"],
   input[type="button"],
   input[type="text"],
   input[type="email"],
   input[type="password"],
   input[type="number"],
   input[type="tel"],
   textarea,
   select {
    transition-duration: .2s;
    transition-timing-function: ease-in;
    transition-property: color, border-color, background-color, opacity;
  }

  a:focus {outline:none;}
  p:empty {display: none;}
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* ------------------------------------
    Basic Styles
    ------------------------------------- */
  h1 {/*basic heading styles*/}
h2 {/*basic heading styles*/}
h3 {/*basic heading styles*/}
h4 {/*basic heading styles*/}
h5 {/*basic heading styles*/}
h6 {/*basic heading styles*/}
p {/*basic paragraph styles*/}
ul {
  /*basic list styles*/
  li {
    /*basic list-item styles*/
  }
}
a {
  &:hover,
  &:focus {
    /*basic hover and focus effects*/
  }
}
button, .button {
  padding: rem-calc(10 12 7);
  &:hover,
  &:focus {
    /*basic hover and focus effects*/
  }
}

//use @extend %bgcover; to selector if you need background cover;
%bgcover{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*-------------------------------
        Paginator
        -------------------------------*/
        ul.pagination li a{
          padding: 0 7px;
          border-radius: 0;
        }
        .pagination.current{
          color: #fff;
          background: #2795b6;
          padding: 1px 7px 2px 7px;
        }

/* ------------------------------------
        menu
        ------------------------------------ */
        .ba-menu {
          background-color: #6d164c;
          font-weight: 500;
          font-size: 16px;
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          font-weight: bold ;
        }
        .menu_vertical {
          > li {
            display: block;
          }
        }
        .fixed{
       position:fixed;
       top:-5px; left:0;
       width:100%;
       height: 50px;
       padding:10px 0;
       opacity: 0.7;
       -webkit-transition: opacity .4;
          -moz-transition: opacity .4;
           -ms-transition: opacity .4;
            -o-transition: opacity .4;
               transition: opacity .4;
       &:hover {
         opacity: 1;
       }
   }
        
/* ------------------------------------
    Header Styles
    ------------------------------------- */
    .header {
      background-color: #f3d6e3;
      background: url(../images/ps.jpg);
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
      position: relative;
    }


    .logo {
      padding: 40px 0;
    }

    .header-info{
      &__text{
        font-family: HelveticaNeue;
        color:  #fff;
        font-size: 66px;
        font-weight: 500;
        line-height: 80px;
        text-align: center;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 40px;
      }
      &__button{
        border:2px solid #fff;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background: transparent; 
        font-weight: bold;
        margin-top: 80px
      }

    }

/* ------------------------------------
    Content Styles
    ------------------------------------- */
    .ba-section {
      padding: 5rem 0;
    }
    .ba-title {
      margin-bottom: 5rem;
      text-transform: uppercase
    }
    //////////////////
    .ba-description {
      &__text {
        font-size: 1.75rem;/* Приближение из-за подстановки шрифтов */
        margin: 0;
      }
    }

    .ba-events {
      background-color: #e9e9e9;
      &-list {
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-content: space-around;
                align-content: space-around;

      }
    }
    
    .ba-event {
      max-height: 19.375rem;
      max-width: 23.125rem;
      height: 310px;
      width: 370px;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;     
      overflow: hidden;
      &-info {
        height: 100%;
        width: 100%;
        position: absolute;
        top:50%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 5%, rgba(0,0,0,0.38) 23%, rgba(0,0,0,0.65) 39%, rgba(0,0,0,0.87) 80%, rgba(0,0,0,0.87) 86%, rgba(0,0,0,0.87) 95%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#de000000',GradientType=0 );
        -webkit-transition: height, top 0.8s;
           -moz-transition: height, top 0.8s;
            -ms-transition: height, top 0.8s;
             -o-transition: height, top 0.8s;
                transition: height, top 0.8s;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover &-info , &:focus &-info {
        top: 20px;
        height: 100%;
      }
      &:hover &__title , &:focus &__title {
        font-size: 1.4rem;
        color: #F2F2F2;
      }
      &:hover &-info p , &:focus &-info p {
        display: block;
      }
      &__title {
        font-size: 1.25rem;
        color: #fff;
        padding: 60px 25px 0;
        text-align: left;
      }
      p {
        padding: 20px 25px 0;
        margin: 0;
        color: #FFF;
        display: none;
        text-align: left;
      }
      &__date {
            position: absolute;
            display: inline-block;
            text-align: center;
            background-color: rgba(38, 38, 38, 0.5);
            width: 60px;
            height: 60px;
            font-weight: 700;
            border-radius: 6px;
            top: 25px;
            left: 25px;
            font-size: 1.5rem;
            line-height: 25px;
            padding: 5px;
            color: #FFF;
      }
      &__link {
        height: 100%;
        width: 100%;
      }
    }

    .ba-course {
      &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 29px;
      }
      &__img {
        -webkit-border-radius: 35px;
                border-radius: 35px;
      }
      &__button {
        background-color: #ED7E4D;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        font-weight: bold;
        line-height: 35px;
        padding:10px 32px;
        -webkit-transition: background .4s;
           -moz-transition: background .4s;
            -ms-transition: background .4s;
             -o-transition: background .4s;
                transition: background .4s;
        &:hover, &:focus {
          background: darken(#ED7E4D, 10%);
        }
      }
    } 

    .ba-clients {
      background-color: #e9e9e9;
      &-list {
        padding-top: 20px;
      }
      img {
        padding: 0 30px;
        opacity: 0.7;
        -webkit-transition: opacity .3s;
           -moz-transition: opacity .3s;
            -ms-transition: opacity .3s;
             -o-transition: opacity .3s;
                transition: opacity .3s;
        &:hover {
          opacity: 1;
          cursor:pointer;  
        }
      }
    }
    
    .ba-contacts {
      background: #ED7E4D;
      &__title {
        display: inline-block;
        font-size: 1.875rem;
        margin-bottom: 0;
        color: #FFF;
        font-weight: normal;
      }
      &__button {
        background: #FFF;
        color: #ed7e4d;
        font-weight: bold;
        border:2px solid white;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        margin: 0;
        padding: 10px 30px;
        -webkit-transform: translateY(-4px);
           -moz-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
             -o-transform: translateY(-4px);
                transform: translateY(-4px);
        &:hover, &:focus {
           background: transparent;
           color: #FFF;
        }
      }
    }
/* -----------------------------------------
    Contact Form
    ----------------------------------------- */
    .acf-map {
      width: 100%;
      height: 400px;
      margin: 0 0 20px;
    }

    .acf-map img {
     max-width: inherit !important;
   }

/* ------------------------------------------
    footer
------------------------------------------- */
  .footer {
    background-color: #32363b;
    color: #FFF;
  }
ul {
  list-style: none !important;
}
.widget {
  h3 {
    color: #FFF;
    text-align: center;
  }
  a[href^="mailto"] {
    color: #ED7E4D;
    &:hover, &:focus {
      color: darken(#ED7E4D, 15%);
    }
  }
  a {
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

.menu {
  &-item {
    -webkit-transition: text-decoration .7s;
       -moz-transition: text-decoration .7s;
        -ms-transition: text-decoration .7s;
         -o-transition: text-decoration .7s;
            transition: text-decoration .7s;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    color: #FFF;
    &:hover {
      
    }
  }
}
  .ba-socials {
    &__link {
      background: grey url('../images/social.png') no-repeat;
      height: 32px;
      width: 32px;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border:3px solid transparent;
      -webkit-transition: botder-color .5s;
         -moz-transition: botder-color .5s;
          -ms-transition: botder-color.5s;
           -o-transition: botder-color .5s;
              transition: botder-color .5s;
      &-fb {
        background-position: -40px -6px;
      }
      &-tw {
        background-position: -215px -6px; 
      }
      &-inst {
        background-position: -110px -6px;
      }
      &-vk {
        background-position: -250px -5px;
      }
      &:hover, &:focus {
        border-color: #ED7E4D;
      }
    }
  }


   /*basic Gravity Form styles and fixes, if you dont need/use this comment or delete styles below*/
   @import "inc/gform";

/* ------------------------------------
    Footer Styles
    ------------------------------------- */

    @import "media-screens";
